.App {
  text-align: center;
}

.leftArea{
  width: 500px;
  height: 600px;
  border: 1px solid red;
}
.compView{
  border: 1px solid green;
  padding: 6px;
  margin-top: 6px;
}
.compView button{
  margin-right: 10px;
}